/**{
    border: 1px solid red;
}*/

.pageHeader:hover{
  cursor: none;
  transition: ease-in-out;
}

.pageHeader {
  --border-width: 7px;
  position: relative;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 240px;
  height: 20px;
  text-transform: uppercase;
  border-radius: var(--border-width);
  padding: 5px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

.carnivalTxt{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold!important;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    letter-spacing: 5px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    width: 245px;
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    mix-blend-mode: screen;
    border-radius: 10px;
}

  @keyframes moveGradient{
    50%{
      background-position: 100% 50%;
    }
  }