/**{
    border: 1px solid red;
}*/

.pageHeader{
    font-size: 28px;
    background-color: white;
    border: .5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    font-weight: bold;
    height: 50px;
    width: 30rem;
    border-radius: 40px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    position: relative;
}

.carnivalTxt{
    position: relative;
    color: hsl(0, 97%, 53%);
    font-weight: bold!important;
    font-family: "Anonymous Pro", monospace!important;
    letter-spacing: 7px!important;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both;
}

@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 500px;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 100%);
    }
    to {
      border-right-color: transparent;
    }
  }

  .tableDiv{
    width: 98%;
    height: 805px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    border-radius: 15px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carnivalContainer{
    width: 15%;
    height: 19%;
    background-color: rgba(105, 105, 105, 0.172);
    border-radius: 15px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchNBtns{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .addBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    height: auto;
    width: 6rem;
    border-radius: 30px !important;
    margin-top: 1rem !important;
  }