*{
    margin: 0;
    background-color: transparent;
    /*border: 1px solid red;*/
}

.titleScanner{
        margin-top: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.bodyScanner{
    width: 300px;
    border: 5px solid rgb(185, 185, 185);
    padding: 250px;
    background-color: rgb(182, 182, 182);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    border-radius: 30px;
}