.btnContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    height: 60%;
}

.carnivalBox{
    background-image: url("../Image/ccl.jpg");
    background-size: 155%;
    filter: blur(1.3px);
    background-position: 50% 95% !important;
}

.nclBox{
    background-image: url("../Image/ncl.jpg");
    background-size: 155%;
    filter: blur(1.3px);
}

.otherBox{
    background-image: url("../Image/pizza.jpg");
    background-size: 145%;
    filter: blur(1.3px);
}

.nclBox,
.carnivalBox,
.otherBox{
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transition: all 0.7s ease-in-out;
    border: none;
    margin-left: 3rem;
    margin-right: 3rem;
    box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
    z-index: 1;
}

.nclBox:hover,
.carnivalBox:hover{
    filter: brightness(100%);
    background-size: 170%;
    border-radius: 15px;
    -webkit-box-shadow:0px 0px 10px 3px rgba(78,181,171,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(78,181,171,0.75);
    box-shadow: 0px 0px 10px 3px rgba(78,181,171,0.75);
}

.otherBox:hover{
    filter: brightness(100%);
    background-size: 160%;
    border-radius: 15px;
    -webkit-box-shadow:0px 0px 10px 3px rgba(78,181,171,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(78,181,171,0.75);
    box-shadow: 0px 0px 10px 3px rgba(78,181,171,0.75);
}

.ccl,
.ncl,
.other {
    font-size: 60px;
    color: #7e6e5f;
    margin-top: 26rem;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    font-size: 35px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 1s ease-in-out;
    z-index: 3;
    &:after,
    &:before {
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        transition: all 1s ease-in-out;
    }

    &:after {
        top: -1px;
        left: -1px;
        border-top: 5px solid rgb(255, 255, 255);
        border-left: 5px solid rgb(255, 255, 255);
    }

    &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 5px solid rgb(255, 255, 255);
        border-right: 5px solid rgb(255, 255, 255);
    }

    &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background:rgb(255, 255, 255);
        margin-left: 5rem;
        margin-right: 5rem;
        /* color:white; */
        &:before,
        &:after {
            width: 100%;
            height: 100%;
            border-color:#4EB5AB;
        }
    }
}




.greyBox{
    width: 98%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128, 0.316);
    border-radius: 15px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

