*{
    margin: 0;
    /*border: 1px solid red;*/
}
.root{
    padding: none;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: none;
}

.carnivalBox{
    background-color: white;
    background-image: url("../Image/Carnival.png");
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: center;
    height: 90px;
    width: 150px;
    color: white;
    font-size: 25px;
    border-radius: 15px !important;
}

.nclBox{
    background-image: url("../Image/NCL.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 90px;
    width: 150px;
    color: white;
    font-size: 25px;
    border-radius: 15px !important;
}

.functionalBoxes{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 10%;
    background-color: rgba(128, 128, 128, 0.316);
    border-radius: 15px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;

}
