.exportBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    height: auto;
    width: 7rem;
    border-radius: 30px !important;
    margin-top: 1rem !important;
}