@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');


.modal {
  background-color: rgba(255, 255, 255, 0.067);
  backdrop-filter: blur(3px);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBackground{
  background-color: white;
  border-radius: 15px;
  height: 30vw;
  width: 58vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.modal .btn {
  display: block;
}

.formGrp{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.form-group {
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 11px;
  width: 12rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.form-group input,
.form-group-status select {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  align-items: center;
}

.form-group-status{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.form-group-status label{
  font-weight: 2;
}

.form-group-status select{
  display: flex;
  margin-left: 0.5rem;
  width: 7.5rem;
  text-align: center;
}
.form-group-status option{
  text-align: center;
}

.error {
  border: 1px solid red;
  background-color: #f8d7daa0;
  color: #df4759;
  padding: 5px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  width: auto;
  animation: glitch 1s linear infinite;
}

.submitBtn{
  border: 1px solid rgb(72, 142, 255);
  font-size: medium;
  background-color: transparent;
  color: rgb(72, 142, 255);
  padding: 0.5rem;
  width: 7rem;
  border-radius: 30px !important;
  cursor: pointer;
  margin-right: 5rem;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.modalHeaderTxt{
  font-weight: bold;
  font-size: 30px;
  animation: glitch 1s linear infinite;
}


@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.modalHeaderTxt:before,
.modalHeaderTxt:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.modalHeaderTxt:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.modalHeaderTxt:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}