@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');


.modal {
  background-color: rgba(255, 255, 255, 0.067);
  backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBackground{
  background-color: white;
  border-radius: 15px;
  height: 60vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin: none;
  padding: none;
}

.modal .btn {
  display: block;
}

.inputs {
  display: flex; /* Enable Flexbox */
  flex-wrap: wrap; /* Allow the items to wrap to the next line */
  justify-content: space-around; /* Space out items */
  align-items: center; /* Align items vertically */
  gap: 20px; /* Space between each item */
  width: 90%;
  height: 30vh;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.inputs input,
.inputs select {
  flex: 1 1 auto; /* Allow inputs to grow and shrink as needed */
  max-width: calc(25% - 20px); /* Subtracting the total gap size (10px on each side) */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-top: 15px; /* Space between rows */
  height: 30px;
}

.statusPaidLabel {
  margin-top: 27px;
  margin-bottom: auto;
}

.fileUpload{
  font-size: 14px;
  width: auto;
  color:#7a8c9d;
  border: 1px dashed grey;
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
} 

@media (max-width: 768px) { /* Adjust max-width as needed for smaller screens */
  .inputs input,
  .inputs select {
    max-width: calc(50% - 20px); /* Adjust size for smaller screens */
  }
}

.error {
  border: 1px solid red;
  background-color: #f8d7daa0;
  color: #df4759;
  padding: 5px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  width: auto;
  animation: glitch 1s linear infinite;
}

.submitBtn{
  border: 1px solid rgb(72, 142, 255);
  font-size: medium;
  background-color: transparent;
  color: rgb(72, 142, 255);
  width: 7rem;
  border-radius: 30px !important;
  cursor: pointer;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 1rem;
  padding-right: auto;
  flex-direction: column;
}

.modalHeaderTxt{
  font-weight: bold;
  font-size: 30px;
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.modalHeaderTxt:before,
.modalHeaderTxt:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.modalHeaderTxt:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.modalHeaderTxt:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}