.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .modal {
    border-radius: 10px 10px 0 0;
    padding: 2rem;
    background-color: white;
    width: 21em;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    overflow: auto;
    justify-content: center;
    flex-direction: row;
    margin-right: none ;
    margin-left: 79%;
  }

  .error {
    background-color: #f8d7da;
    color: #df4759;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
  }
  
  .submitBtn{
    border-radius: 30px !important;
    margin-right: 10px !important;
  }

  .buttonsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 25em;
    height: 5em;
    border-radius: 0 0 10px 10px;
    margin-left: 79%;
    box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
  }