*{
    margin: 0;
    /*border: 1px solid red;*/
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 5vh;
    background-color: #4EB5AB;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .navbar-logo {
    cursor: pointer;
    margin-left: 10rem;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 2vh;
    width: 4vh;
  }
  
  .pfpIcon{
    width: 15%;
    height: 15%;
    margin-right: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .iconBtn:active{
    color: white;
    transition: ease-in-out;
  }
  .iconBtn:hover{
    color: white;
    transition: ease-in-out;
  }


  @media screen and (max-width: 768px) {
    .navbar-logo {
      font-size: 1rem;
      padding: 1rem;
    }
  
    .navbar-items {
      margin-right: 0;
      padding: 0;
    }
  
    .navbarMenu {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 50%;
      background-color: blue;
      width: 50%;
      padding: 5px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
      transform: translateY(-50%);
    }
  
    .navbarMenu.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(60%);
      width: auto;
    }
  }