.tableContainer{
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 98% !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
    height: 40vw;
}

.pagination{
    width: 98%;
    background-color: #1212126c;
    box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
    border: 0.5px solid rgb(170, 170, 170);
    flex-direction: row;
    height: 3.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.tableNpagination{
    flex-direction: column;
    width: 100%;
    display: block;
    margin-left: 1rem;
}

.table{
    z-index: 0;
}

.headerRow:nth-child(){
  font-weight: 200px;
} 

.tableRows{
  z-index: 0;
}

.label {
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
  }
  
  .label-pending {
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 20px;
    color: orange;
  }
  
  .label-paid {
    background-color: transparent;
    border: 1px solid green;
    border-radius: 20px;
    color: green;
  }
  
  .label-unpaid {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 20px;
    color: red;
  }