/*{
   /* border: 1px solid red;
}*/

.tableContainer{
    border: 0.5px solid rgb(136, 136, 136);
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100% !important;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
    height: 100%;
}

.editDelete{
    display: flex;
    justify-content: center;   
    align-items: center;
}

.pagination{
    background-color: #1212126c;
    box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
    border: 0.5px solid rgb(170, 170, 170);
    flex-direction: row;
    height: 3.5rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.tableNpagination{
    flex-direction: column;
    width: 75%;
}

