.tableContainer{
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 98% !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
    height: 35vw;
}

.dataTable{
  z-index: 0;
  height: 37vw;
  width: 95vw;
}

.table{
  padding: .3rem;
  border: 1px solid red;
  height: 39vw;
}

.addBtn{
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid skyblue;
  color: skyblue;
}

.editBtn{
  background-color: transparent;
}

.label {
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
  }
  
  .label-pending {
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 20px;
    color: orange;
  }
  
  .label-paid {
    background-color: transparent;
    border: 1px solid green;
    border-radius: 20px;
    color: green;
  }
  
  .label-unpaid {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 20px;
    color: red;
  }