.tableContainer{
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 98% !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 5px 5px 15px;
    height: 35vw;
    margin-top: 5px;
}

.dataTable{
  height: 100% !important;
  max-height: 100% !important;
  border-radius: 15px !important;
  box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
  border: 1px solid grey;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.addBtn{
  background-color: transparent;
  border-radius: 30px !important;
  width: 90px !important;
  height: 25px !important;
  margin-left: 20px !important;
  box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
}

.edit_delete_btn{
  background-color: transparent;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: none;
  padding: none;
}

.editBtn .deleteBtn{
  margin: none;
  padding: none;
}

.label {
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
  }
  
  .label-pending {
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 20px;
    color: orange;
  }
  
  .label-paid {
    background-color: transparent;
    border: 1px solid green;
    border-radius: 20px;
    color: green;
  }
  
  .label-unpaid {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 20px;
    color: red;
  }