.ddText{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    margin-left: 1rem;
}

.ddText:hover{
    cursor: pointer;
}

.fileBtn{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2rem;
    width: 9rem;
}

.pdfBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(102, 102, 102, 0.356);
    border-radius: 40px;
    width: 25rem;
    height: 25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}