/* .uploadPDF{
    width: 35vh;
    border-radius: 30px !important;
    position: relative;
    margin-left: 10px;
    border: 1px solid rgb(33, 116, 251);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    padding-left: 5px 0;    
} */

.selectBtn{
    border-radius: 15px;
    border: 1px solid blue; 
    height: 3.4vh;
    margin-right: 20vh;
}

.uploadPDF{
    font-size: 14px;
    width: auto;
    color:#7a8c9d;
    border: 1px dashed grey;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
} 